html 
	head
		style
			include style.css 
	body
		h1= 'Welcome to Pierrebetsalgo'
		h2= 'MAIN MENU'
		ul
			li 
				a(href='games') Games
			li 
				a(href='bettingsites') BettingSites
			li 
				a(style={color: 'red'} href='simulatemember') SIMULATE A MEMBER
			li 
				a(href='listofgames') CHOSEN GAMES