/* style.css */
body { 
	font-family : Helvetica,Arial,sans-serif 
}
table {
	border: 1px solid;    
}

thead { 
    background-color: #c5f7c7;
    color: #707070 		    
} 
tfoot { 
    font-size:1.2em;
    background-color: #ffde84;
    color: #707070 
} 
th, td { 
    padding: 5px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight : normal ;
    text-align:center;
}
table.small th, table.small td { 
    font-size:0.8em;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    font-weight : normal ;
    text-align:center;
} 

table.insidelogs th, table.insidelogs td { 
    font-size:0.9em;
   
    font-weight : normal ;
    text-align:center;
} 
table.small,table.insidelogs {
     padding-left: 30px;
     border:0;
}


table.sites thead, table.sites thead td { 
    color:white;
    background-color:black;   
   
    font-weight : normal ;
    text-align:center;
} 

table.sites td {
    padding:5px;
    border:0;
}

table.sites tbody tr td.sitename {
    background-color: #bfbfbf;
}

table.sites tbody tr.done {
    background-color:#c5f7c7;
}

table.sites,table tbody.sites {
    border:0;
    padding-top:20px;
    padding-left:30px;
    border:0;
    font-size:0.8em;
}

table.sites td.bankroll {
    color:black;
    background-color:white;
    font-weight:bold;
    font-size:1.1em;
    border:1px;

}

table.sites tr.sites_total {
    border:1px solid grey;
    background-color :  black;
    color:white;
}


.visits { 
	font-size:1.1em;
	font-style:italic;
	background-color: #f7e3ad;
    color: #707070 
} 
.yesterday { 
	color: red 
} 
.month { 
	font-weight: bold 
} 

.log {
    padding-left: 30px;
}

.pari_important {
    background-color: #eec454;
    font-weight: bold;   
    padding-left:0px;
}

.pari_resultat {
    background-color: #f7e3ad;
    font-weight: bold
}

.retrait {
    background-image : url('../img/left.png');
    background-position: left center;
    background-repeat: no-repeat;
}



.depot {
    background-image : url("../img/right.png");
    background-position: left center;
    background-repeat: no-repeat;
   
       
}

span.bankroll {
    background-image : url('../img/money-box.png');
    background-position: left center;
    background-repeat: no-repeat;
    
          
}

div.games_log {
    display:none;
}


